/* Estilos Banner.jsx */

.centrar-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 77vh; /* Usa el 100% de la altura de la ventana del navegador */
}

.centrar-imagen img {
  max-width: 100%;
  max-height: 100%; /* Ajusta la imagen para ocupar el 100% del contenedor */
  vertical-align: middle; /* Alinea verticalmente la imagen */
  margin-top: -30px; /* Mueve la imagen 20px hacia arriba */
}

/* estilos contenedor banner */
.bannerContainer{
 display: grid;
 grid-template-columns: 1fr 1fr;
}
/* estilos imagen banner lado izquierdo */
.bannerImg{
  display: grid;
  grid-template-rows: 1fr;
  background-image: url(src/assets/img/Banners/Bienvenido.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  height: 500px;
  width: 100%;
}
/* Estilos banner lado derecho */
.bannerRight{
  display: grid ;
  justify-items: center

}
.card{
  display: grid;
  width: 90%;
  background-color: #ffbb5b71;
  display: grid;
  border-radius: 25px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-items: center;
}

.card2{
  background-color: rgba(228, 61, 23, 0.54);
  display: grid;
  border-radius: 25px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  justify-items: center;
}