/* Estilos para el contenedor principal del banner */
.bannerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92.7vh; /* Usar el 100% del alto de la ventana del navegador */
}

/* Estilos para centrar la imagen */
.centrar-imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%; /* Utiliza el 100% del alto del contenedor */
}

/* Estilos para la imagen del banner */
.bannerImgRatita {
  max-width: 40%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-top: -30px; /* Mueve la imagen 30px hacia arriba */
}



@media screen and (max-width: 768px) {

/* Estilos para la imagen del banner */
.bannerImgRatita {
  max-width: 80%;
  max-height: 100%;
  width: auto;
  height: auto;
  margin-top: -30px; /* Mueve la imagen 30px hacia arriba */
}

/* Estilos para el contenedor principal del banner */
.bannerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70.7vh; /* Usar el 100% del alto de la ventana del navegador */
}

}


