@media screen and (min-width: 768px) {

  h1 {
    text-align: center;
    color: rgb(251, 245, 245);
  }

  .formContainer {
    display: grid;
    grid-template-columns: 1fr;

    justify-items: center;

  }

  form {
    display: grid;
    color: rgb(255, 255, 255);
    grid-template-columns: 500px;
    grid-template-rows: repeat(6, minmax(40px, auto));
    max-width: 1000px;
    align-items: center;
    align-content: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
  }

  input {
    border-radius: 10px;
    margin-bottom: 5px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 2px white;
    color: rgb(229, 229, 229);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
  }

  button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 10px; 
    height: 50px;
    background-color: rgb(56, 112, 0);
    color: rgb(255, 255, 255);
    border: solid 2px white;
    transition: 0.3s;
  }

  label {
    margin-top: 2px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
  }

  button:hover {
    cursor: pointer;
    background-color: rgb(241, 144, 9);
  }


  /* Estilo para cambiar el color del icono de calendario */
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    margin-right: 10px;
  }

/* Estilos para el selector de horas */
.hora-select {
  appearance: none;
  padding: 4px;
  font-size: 18px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
  width: 500px;
  height: 50px;
  text-align: left;
  padding-left: 15px;
  
}

  .hora-select:hover {
    border-color: #aaa;
  }

  .hora-select:focus {
    outline: none;
    border-color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
}

@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
    color: rgb(251, 245, 245);
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    /* Ajusta el espacio entre el formulario y la imagen */


  }

  form {
    color: rgb(255, 255, 255);
    width: 400px;
    max-width: 5000px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 20px;
    box-sizing: border-box;
    margin-left: 40px;
    margin-bottom: 60px;

  }

  input {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
    border: solid 2px white;
    color: rgb(229, 229, 229);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    text-align: left;
    padding-left: 15px;
    box-sizing: border-box;
  }

  button {
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 10px;
    height: 40px;
    background-color: rgb(56, 112, 0);
    color: rgb(255, 255, 255);
    border: solid 2px white;
    transition: 0.3s;
    box-sizing: border-box;
    display: inline-block;
  }

  label {
    margin-top: 5px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    font-size: 16px;
  }

  button:hover {
    cursor: pointer;
    background-color: rgb(241, 144, 9);
  }

  /* Estilo para cambiar el color del icono de calendario */
  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    margin-right: 10px;
  }

  /* Estilos para el selector de horas */
  .hora-select {
    width: 100%;
    padding: 8px;
    font-size: 15px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
   
    margin-bottom: 10px;
    margin-top: 5px;
    font-weight: 700;
    box-sizing: border-box;
  }

  .hora-select:hover {
    border-color: #aaa;
  }

  .hora-select:focus {
    outline: none;
    border-color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .horat {
    font-size: 15px;


  }

  /* Estilo para la imagen */
  .jumboFormSplit {
    display: none;
  }
}