.home {
  background-image: url(/img/backgrounds/bg1.png);
  height: 100vh;
  background-size: cover;
  /* Ajusta el tamaño de la imagen de fondo para cubrir todo el contenedor */
  background-position: center center;
  /* Centra la imagen de fondo */
}