.home {
  background-image: url(/img/backgrounds/bg1.png);
  height: 100%;
  background-size: cover;
  /* Ajusta el tamaño de la imagen de fondo para cubrir todo el contenedor */
  background-position: center center;
  /* Centra la imagen de fondo */
}  
.containerInicio{
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 0.1fr;
}
/* Resetear estilos para el navegador */


@media screen and (max-width: 768px) {
  .home {
    height: 100%;
  }
}