.bannerJumbo {
    background-image: url(src/assets/img/backgrounds/bg1.png);
    background-size: 100%;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 0cm 0cm;

}